/* Web Fonts -------------------- */

@font-face {
  font-family: 'JosefinsSans';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}
/* Base Styling - Fonts & Colours, Box Sizes, Margins -------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'JosefinsSans', Helvetica, Arial, sans-serif;
	margin: 0;
}

h1 {
	color:white;
	letter-spacing: 0.2rem;
	font-family: 'Poppins', Helvetica, Arial;
}

h2 {
	color:black;
	letter-spacing: 0.2rem;
	font-family: 'Poppins', Helvetica, Arial;
}

h1 {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.3;
	text-shadow: 0 1px 1px rgba(0,0,0, .8);
	margin: 12px 0, 0;
}

h2 {
	font-size: 2.25rem;
	font-weight: normal;
	line-height: 1.1;
	margin: 0 0 .5em;
}

h3 {
	font-size: 1.5rem;
	color: #48525c;
	line-height: 1.2;
	margin-bottom: 1.7em;
}

img {
	max-width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}

ul, ol {
	margin: 30px 0;
}

li {
	margin-bottom: 10px;
}

/* nav {
	padding-bottom:150px;
}
*/

/* li a {
	color:black;
} */

/* Pseudo-Classes -------- In Progress */



/* Main Styles */

.main-header {
	padding-top: 100px;
	height: 850px;
	background: linear-gradient(#000000, transparent 80%),
				linear-gradient(0deg, #fff, transparent 80%),
			    url('../img/lighthouse.jpg') no-repeat center;
	background-size: cover;
	text-align:center;
}

.title {
	color: white;
	font-size: 1.625rem; /* This is 26px/16px */
	letter-spacing: .065em; /* Give some space for the title font to breathe */
	font-weight: 200;
	border-bottom:2px solid;
	padding-bottom: 10px;
	text-align:center;
}

.intro-content {
	text-align: center;
	line-height: 1.5;
	border-top: 2px solid rgba(23,23,144, .6);
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 2px solid #dfe2e6;
}

.main-footer {
	padding-top:60px;
	padding-bottom: 60px;
	text-align:center;
}

.t-border {
	border-top: 2px solid #dfe2e6;
}

.books-list {
	color:white;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.1rem;
}

.social-icon {
	text-align:center;
	margin: auto;
}

/* Floated Columns ------------------ */

.toronto-left,
.toronto-right {
	width:46.5%
}
.toronto-left {
	float:left;
}

.toronto-right {
	float:right;
}

/* Float Clear Fix ----------- */

.group:after {
	content: "";
	display: table;
	clear: both;
}

/* Layout Styles ------------------ */

.intro-content,
.secondary-content {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
}

.arrow {
	width: 50px;
	margin-top:150px;
}

.social-icon {
	display: block;
  	width: 20px;
  	height: 20px;
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 20px auto 30px;
  border-radius:50%;
}

.writer {
	color:white;
	text-align: left;
	padding: 18% 2%;
	border-top: 10px solid #ffa949;
	margin: 50px auto 60px;
	background: #434a52 url('../img/yosemitesunset.jpg') no-repeat center;
	background-size: 100%;
	box-shadow: inset 0 0 50px 10px rgba(0,0,0 .8);
	border-radius:10px;
	width:75%
}

.writer-head {
	color: white
}
/* Media Queries ------ */

@media (max-width: 1024px) {
	.intro-content,
	.secondary-content {
		width: 90%;
	}
	.writer {
		padding: 10% 12%;
		margin: 50px auto 20px;
		width: 90%;
	}
}

@media (max-width: 768px) {

	.intro-content,
	.secondary-content {
		width: 100%;
		padding: 20px;
		border: none;
	}

	.main-header {
		max-height: 380px;
		padding: 50px 25px 0;
	}

	.title {
		font-size: 1.3 rem;
		border: none;
	}

	h1 {
		font-size: 2rem;
		line-height: 1.1;
	}

	.arrow {
		display:none;
	}

	.intro {
		font-size: 1rem;
	}

	.toronto-left,
	.toronto-right {
		float: none;
		width: 100%;
	}

	.main-footer {
		padding: 20px 0;
	}
}
